@model WebApp.Models.Home.RecentGameModel
@{
	Layout = "_Layout";
	ViewBag.PageTitle = "最近比赛";
}

@if (Model.LastGame != null)
{
	<h2 class="text-center lead">上一场结果</h2>
	<hr />
	<div class="card mt-3">
		<div class="card-body">
			<partial name="_GamePartial" model="@Model.LastGame" />
		</div>
	</div>

	<hr />
}

<h2 class="text-center lead">正在进行中</h2>
<hr />

@if (Model.CurrentGames.Any())
{
	foreach (var item in Model.CurrentGames)
	{
		<div class="card mt-3">
			<div class="card-body">
				<partial name="_GamePartial" model="@item" />
			</div>
		</div>
	}
}
else
{
	<p class="text-center text-muted">目前没有正在进行中的比赛。请时刻关注比赛时刻安排。</p>
}

@section Scripts{

	<partial name="_SignalRPartial" />

	<script>

		var connection =
			new signalR.HubConnectionBuilder()
				.withUrl('/signalr/game')
				.build();

		connection.on('RecentGameUpdated',
			function () {
				location.reload(true);
			});

		connection.start();

	</script>

}
