@model WebApp.Models.Home.RecentGameModel
@{
	Layout = "_Layout";
	ViewBag.PageTitle = "最近比赛";
}

@if (Model.LastGame != null)
{
	<h2 class="text-center lead">上一场结果</h2>
	<hr />
	<partial name="_GamePartial" model="@Model.LastGame" />
	<hr />
}

<h2 class="text-center lead">正在进行中</h2>
<hr />

@if (Model.CurrentGames.Any())
{
	<div class="list-group">
		@foreach (var item in Model.CurrentGames)
		{
			<a class="list-group-item list-group-item-action" href="#">
				<partial name="_GamePartial" model="@item" />
			</a>
		}
	</div>
}
else
{
	<p class="text-center text-muted">目前没有正在进行中的比赛。请时刻关注比赛时刻安排。</p>
}