@{
	Layout = "_Layout";
}

<div asp-message-list="AlertDialogClosable"></div>

<h1 class="lead text-center">@ViewBag.Title</h1>
<hr />

@RenderBody()

@section Header
	{
	@await RenderSectionAsync("Header", false)
}

@section Scripts
	{
	@await RenderSectionAsync("Scripts", false)
}

